@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600&display=swap");
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: #fff;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 100px 100px 80px rgba(0, 0, 0, 0.07);
}

.logo {
  color: var(--primary);
  font-size: 1.4rem;
}

.primary-menu {
  position: relative;
}

.menus {
  display: flex;
  align-items: center;
  position: relative;
}
.menus li a {
  color: #273c75;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
}
.menus li a.active {
  background-color: #e84118;
  color: #fff;
}

.blogs__container {
  margin: 1rem auto;
  background: #fff;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 100px 100px 80px rgba(0, 0, 0, 0.07);
  position: relative;
}

.blogs-content {
  margin: 2rem 0rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.2rem;
  padding: 1rem;
  position: relative;
}

.paginate-btn {
  display: block;
  margin: 0 auto;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  background-color: #273c75;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

.blog {
  position: relative;
  box-shadow: 0px 3.6px 10px rgba(0, 0, 0, 0.035), 0px 29px 80px rgba(0, 0, 0, 0.07);
  padding: 25px;
  border-radius: 4px;
  position: relative;
}
.blog:hover .blog__edit {
  opacity: 1;
}
.blog__edit {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: 0.3s all ease;
  cursor: pointer;
}
.blog__details {
  color: #fff;
  padding: 0.2rem 0.6rem;
  border-radius: 3px;
  margin-top: 0.4rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.blog__details h3.blog__title {
  font-size: 1.1rem;
  color: #273c75;
  margin-bottom: 0.4rem;
}
.blog__details p.blog__text {
  font-size: 0.88rem;
  color: #273c75;
  margin: 0.3rem 0rem;
  margin-bottom: 0.7rem;
}
.blog__text {
  flex: 1 0 auto;
}
.blog__readmore {
  background-color: #273c75;
}
.blog__btns {
  display: flex;
  flex: 0 0 auto;
}
.blog__remove {
  background-color: red;
  color: #000000;
}
.blog span {
  color: #273c75;
}

.btn {
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 8px 10px;
  border-radius: 3px;
  font-weight: 600;
}

.single-post-content {
  padding: 1rem;
  position: relative;
}
.single-post-content h3 {
  margin-top: 1rem;
}
.single-post-content p {
  margin: 0.5rem 0rem;
}
.single-post-content .comments-area {
  position: relative;
  padding: 2rem;
}
.single-post-content .comments-area h2 {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.comments {
  padding: 1rem;
  padding-left: 2rem;
  position: relative;
}

.comment {
  background: #f5f6fa;
  padding: 0.6rem;
  border-radius: 4px;
  position: relative;
  margin-bottom: 1rem;
}
.comment-header {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e4e5e9;
  padding: 0.5rem;
  flex-wrap: wrap;
}
.comment-body {
  padding: 1rem;
  position: relative;
}
.comment-body p {
  font-size: 0.9rem;
}

.avatar {
  width: 45px;
  height: 45px;
  background: #cac7c7;
  border-radius: 50%;
  font-size: 0.9rem;
  text-align: center;
  line-height: 45px;
  font-weight: bold;
  font-size: 1.5rem;
}

.username {
  margin-left: 1rem;
  display: block;
}

.blogs-content.none-grid {
  grid-template-columns: 1fr;
}

.single-post-content {
  display: none;
}

.blogs-content.active .single-post-content {
  display: block;
}

.blog.remove {
  display: none;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  width: 100%;
  background: #f5f6fa;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.colorize {
  color: #e84118;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.blogs-header {
  padding: 1rem;
  background: #f5f6fa;
  border-radius: 10px;
}

.search-field {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 3px;
  box-shadow: 0px 3.6px 10px rgba(0, 0, 0, 0.035), 0px 29px 80px rgba(0, 0, 0, 0.07);
}

/*# sourceMappingURL=main.css.map */
