@import '_vars.scss';
@import './components/_header';
@import './components/_main';
@import './components/_single-post';
@import './components/_modal';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600&display=swap');
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  min-height: 100%;
  width: 100vw;
  background: #f5f6fa;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}


.colorize {
  color: $secondary;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.blogs-header {
  padding: 1rem;
  background: #f5f6fa;
  border-radius: 10px;
}


