.main__item {
  font-size: 1.6rem;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  p {
    text-transform: capitalize;
    font-size: 1.6rem;
  }
  span:first-child {
    font-weight: 500;
  }
}

.item__title {
  text-transform: capitalize;
}

