.single-post-content {
  padding: 1rem;
  position: relative;
  h3 {
    margin-top: 1rem;
  }
  p {
    margin: 0.5rem 0rem;
  }
  .comments-area {
    position: relative;
    padding: 2rem;
    h2 {
      padding-bottom: 1rem;
      border-bottom: 1px solid #ccc;
    }
  }
}

.comments {
  padding: 1rem;
  padding-left: 2rem;
  position: relative;
}

.comment {
  background: #f5f6fa;
  padding: 0.6rem;
  border-radius: 4px;
  position: relative;
  margin-bottom: 1rem;
  &-header {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e4e5e9;
    padding: 0.5rem;
    flex-wrap: wrap;
  }
  &-body {
    padding: 1rem;
    position: relative;
    p {
      font-size: 0.9rem;
    }
  }
}

.avatar {
  width: 45px;
  height: 45px;
  background: rgb(202, 199, 199);
  border-radius: 50%;
  font-size: 0.9rem;
  text-align: center;
  line-height: 45px;
  font-weight: bold;
  font-size: 1.5rem;
}
.username {
  margin-left: 1rem;
  display: block;
}

.blogs-content.none-grid {
  grid-template-columns: 1fr;
}
.single-post-content {
  display: none;
}
.blogs-content.active .single-post-content {
  display: block;
}
.blog.remove {
  display: none;
}

